html {
  font-family: "Open Sans", sans-serif;
}

h1, h2 {
  font-family: Montserrat, sans-serif;
}


nav {
  color: #E2D8CD;
  background-color: #271A02;
}

nav ul li a {
  text-decoration: none;
  color: #E2D8CD;
}

.banner {
  background-color: #E2D8CD;
}
